@import 'themecolor.css';

/* 列表样式 */
/* 点击出现列表 */
.click1 {
    /* 点击展开识别区域样式 */
    position: fixed;
    z-index: 4;
    height: 50px;
    width: 15vw;
    /* background-color: rgba(255, 0, 0, 0.368); */
}



/* 户型地址菜单样式 */
.list1 {
    z-index: 4;
    position: fixed;
    left: 0;
    top: 50px;
    width: 35vw;
    height: calc(100vh - 50px);
    background-color: var(--ATcolor);
    overflow: auto;
}

.dzbt {
    /* 地址按钮的样式 */
    width: calc(100% - 20px);
    min-height: 60px;
    height: 60px;
    padding: 0px;
    margin: 10px;
    border-radius: 60px;
    font-size: 30px;
    align-items: center;
    text-align: center;
}



/* 户型样式 */
.list2 {
    z-index: 4;
    position: fixed;
    left: 35vw;
    top: 50px;
    width: 65vw;
    height: calc(100vh - 50px);
    background-color: var(--ATcolor);
    text-align: center;
    overflow: auto;
}

.hxbutton {
    /* 户型按钮的样式 */
    width: calc(100% - 20px);
    max-height: 60px;
    height: 60px;
    padding: 0px;
    margin: 10px;
    border-radius: 60px;
    font-size: 30px;
    align-items: center;
    text-align: center;
}

@media (max-width: 600px) {

    .dzbt {
        font-size: 25px;
        border-radius: 25px;
    }

    .hxbutton {
        font-size: 25px;
        border-radius: 25px;
    }
}

@media (max-width: 500px) {

    .dzbt {
        font-size: 20px;
        border-radius: 25px;
    }

    .hxbutton {
        font-size: 20px;
        border-radius: 25px;
    }
}

@media (max-width: 400px) {

    .dzbt {
        font-size: 16px;
        border-radius: 25px;
    }

    .hxbutton {
        font-size: 16px;
        border-radius: 25px;
    }
}